.env
.DS_Store
Thumbs.db
__pycache__/
*.log

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.tfstate.lock.info


*.retry
ansible.log
.ansible


terraform/infra_ready.txt
ansible/inventory.ini