version: '3.8'

services:
  nginx:
    image: nginx:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - '80:80'
      - '443:443'
    networks:
      - glpi-network

  glpi:
    image: glpi/glpi:latest
    restart_policy:
      condition: on-failure
    environment:
      - TIMEZONE=Europe/Paris
      - GLPI_DB_HOST=db
      - GLPI_DB_PORT=3306
      - GLPI_DB_NAME=glpi
      - GLPI_DB_USER=glpi
      - GLPI_DB_PASSWORD_FILE=/run/secrets/db_password
    secrets:
      - db_password
    depends_on:
      - db
    networks:
      - glpi-network

  db:
    image: mariadb:latest
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      - MYSQL_DATABASE=glpi
      - MYSQL_USER=glpi
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
    secrets:
      - db_password
      - db_root_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - glpi-network

volumes:
  db_data:

networks:
  glpi-network:
    driver: overlay

secrets:
  db_password:
    external: true
  db_root_password:
    external: true
