version: '3.8'

services:
  nginx:
    image: nginx:latest
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - '80:80'
      - '443:443'
    configs:
      - source: nginx_conf
        target: /etc/nginx/conf.d/default.conf
    volumes:
      - /tmp/docker/nginx/certs:/etc/letsencrypt
      - webroot:/var/www/certbot
    networks:
      - glpi-network

  certgen:
    image: certbot/certbot:latest
    deploy:
      restart_policy:
        condition: on-failure
    volumes:
      - /tmp/docker/nginx/certs:/etc/letsencrypt
      - webroot:/var/www/certbot
    command: /bin/sh -c "echo 'Local dev, skipping Certbot'"

  glpi:
    image: glpi/glpi:latest
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      - TIMEZONE=Europe/Paris
      - GLPI_DB_HOST=db
      - GLPI_DB_PORT=3306
      - GLPI_DB_NAME=glpi
      - GLPI_DB_USER=glpi
      - GLPI_DB_PASSWORD_FILE=/run/secrets/db_password
    secrets:
      - db_password
    networks:
      - glpi-network

  db:
    image: mariadb:latest
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      - MYSQL_DATABASE=glpi
      - MYSQL_USER=glpi
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
    secrets:
      - db_password
      - db_root_password
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - glpi-network

volumes:
  db_data:
  certs:
  webroot:

networks:
  glpi-network:
    driver: overlay
    attachable: true

secrets:
  db_password:
    external: true
  db_root_password:
    external: true

configs:
  nginx_conf:
    file: /tmp/docker/nginx/conf.d/default.conf
