- name: Update apt cache
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name: docker.io
    state: present

- name: Start and enable Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: '{{ ansible_user }}'
    groups: docker
    append: yes
