- name: Ensure Docker service is started and enabled
  service:
    name: docker
    state: started
    enabled: yes

- name: Add current user to Docker group
  user:
    name: '{{ ansible_env.USER }}'
    groups: docker
    append: yes
